---
import Portfolio from '../components/Portfolio';
import '../styles/global.css';
---

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ertem Biyik</title>
  </head>
  <body>
    <Portfolio client:load />
    <span class="sans" style="font-size: 14px; padding-top: 2em"></span>
  </body>
</html>