<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><title>Ertem Biyik</title><style>
/* cspell:disable-file */
/* webkit printing magic: print all background colors */
html {
	-webkit-print-color-adjust: exact;
}
* {
	box-sizing: border-box;
	-webkit-print-color-adjust: exact;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* Light theme (default) */
html {
	background-color: white;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	html {
		background-color: rgb(25, 25, 25);
	}
}

@media only screen {
	body {
		margin: 2em auto;
		max-width: 900px;
		color: rgb(55, 53, 47);
	}
}

/* Dark theme text color adjustment */
@media (prefers-color-scheme: dark) {
	body {
		color: rgb(200, 195, 188);
	}
}

body {
	line-height: 1.5;
	white-space: pre-wrap;
}

a,
a.visited {
	color: inherit;
	text-decoration: underline;
}

/* Dark theme link adjustments */
@media (prefers-color-scheme: dark) {
	a,
	a.visited {
		color: rgb(110, 154, 201);
	}
}

.pdf-relative-link-path {
	font-size: 80%;
	color: #444;
}

h1,
h2,
h3 {
	letter-spacing: -0.01em;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 0;
}

.page-title {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.75em;
}

h1 {
	font-size: 1.875rem;
	margin-top: 1.875rem;
}

h2 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

h3 {
	font-size: 1.25rem;
	margin-top: 1.25rem;
}

.source {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 1.5em;
	word-break: break-all;
}

.callout {
	border-radius: 3px;
	padding: 1rem;
}

figure {
	margin: 1.25em 0;
	page-break-inside: avoid;
}

figcaption {
	opacity: 0.5;
	font-size: 85%;
	margin-top: 0.5em;
}

mark {
	background-color: transparent;
}

.indented {
	padding-left: 1.5em;
}

hr {
	background: transparent;
	display: block;
	width: 100%;
	height: 1px;
	visibility: visible;
	border: none;
	border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

img {
	max-width: 100%;
}

@media only print {
	img {
		max-height: 100vh;
		object-fit: contain;
	}
}

@page {
	margin: 1in;
}

.collection-content {
	font-size: 0.875rem;
}

.column-list {
	display: flex;
	justify-content: space-between;
}

.column {
	padding: 0 1em;
}

.column:first-child {
	padding-left: 0;
}

.column:last-child {
	padding-right: 0;
}

.table_of_contents-item {
	display: block;
	font-size: 0.875rem;
	line-height: 1.3;
	padding: 0.125rem;
}

.table_of_contents-indent-1 {
	margin-left: 1.5rem;
}

.table_of_contents-indent-2 {
	margin-left: 3rem;
}

.table_of_contents-indent-3 {
	margin-left: 4.5rem;
}

.table_of_contents-link {
	text-decoration: none;
	opacity: 0.7;
	border-bottom: 1px solid rgba(55, 53, 47, 0.18);
}

table,
th,
td {
	border: 1px solid rgba(55, 53, 47, 0.09);
	border-collapse: collapse;
}

table {
	border-left: none;
	border-right: none;
}

th,
td {
	font-weight: normal;
	padding: 0.25em 0.5em;
	line-height: 1.5;
	min-height: 1.5em;
	text-align: left;
}

th {
	color: rgba(55, 53, 47, 0.6);
}

ol,
ul {
	margin: 0;
	margin-block-start: 0.6em;
	margin-block-end: 0.6em;
}

li > ol:first-child,
li > ul:first-child {
	margin-block-start: 0.6em;
}

ul > li {
	list-style: disc;
}

ul.to-do-list {
	padding-inline-start: 0;
}

ul.to-do-list > li {
	list-style: none;
}

.to-do-children-checked {
	text-decoration: line-through;
	opacity: 0.375;
}

ul.toggle > li {
	list-style: none;
}

ul {
	padding-inline-start: 1.7em;
}

ul > li {
	padding-left: 0.1em;
}

ol {
	padding-inline-start: 1.6em;
}

ol > li {
	padding-left: 0.2em;
}

.mono ol {
	padding-inline-start: 2em;
}

.mono ol > li {
	text-indent: -0.4em;
}

.toggle {
	padding-inline-start: 0em;
	list-style-type: none;
}

/* Indent toggle children */
.toggle > li > details {
	padding-left: 1.7em;
}

.toggle > li > details > summary {
	margin-left: -1.1em;
}

.selected-value {
	display: inline-block;
	padding: 0 0.5em;
	background: rgba(206, 205, 202, 0.5);
	border-radius: 3px;
	margin-right: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	white-space: nowrap;
}

.collection-title {
	display: inline-block;
	margin-right: 1em;
}

.page-description {
	margin-bottom: 2em;
}

.simple-table {
	margin-top: 1em;
	font-size: 0.875rem;
	empty-cells: show;
}
.simple-table td {
	height: 29px;
	min-width: 120px;
}

.simple-table th {
	height: 29px;
	min-width: 120px;
}

.simple-table-header-color {
	background: rgb(247, 246, 243);
	color: black;
}
.simple-table-header {
	font-weight: 500;
}

time {
	opacity: 0.5;
}

.icon {
	display: inline-block;
	max-width: 1.2em;
	max-height: 1.2em;
	text-decoration: none;
	vertical-align: text-bottom;
	margin-right: 0.5em;
}

img.icon {
	border-radius: 3px;
}

.user-icon {
	width: 1.5em;
	height: 1.5em;
	border-radius: 100%;
	margin-right: 0.5rem;
}

.user-icon-inner {
	font-size: 0.8em;
}

.text-icon {
	border: 1px solid #000;
	text-align: center;
}

.page-cover-image {
	display: block;
	object-fit: cover;
	width: 100%;
	max-height: 30vh;
}

.page-header-icon {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.page-header-icon-with-cover {
	margin-top: -0.72em;
	margin-left: 0.07em;
}

.page-header-icon img {
	border-radius: 3px;
}

.link-to-page {
	margin: 1em 0;
	padding: 0;
	border: none;
	font-weight: 500;
}

p > .user {
	opacity: 0.5;
}

td > .user,
td > time {
	white-space: nowrap;
}

input[type="checkbox"] {
	transform: scale(1.5);
	margin-right: 0.6em;
	vertical-align: middle;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.image {
	border: none;
	margin: 1.5em 0;
	padding: 0;
	border-radius: 0;
	text-align: center;
}

.code,
code {
	background: rgba(135, 131, 120, 0.15);
	border-radius: 3px;
	padding: 0.2em 0.4em;
	border-radius: 3px;
	font-size: 85%;
	tab-size: 2;
}

code {
	color: #eb5757;
}

.code {
	padding: 1.5em 1em;
}

.code-wrap {
	white-space: pre-wrap;
	word-break: break-all;
}

.code > code {
	background: none;
	padding: 0;
	font-size: 100%;
	color: inherit;
}

blockquote {
	font-size: 1.25em;
	margin: 1em 0;
	padding-left: 1em;
	border-left: 3px solid rgb(55, 53, 47);
}

.bookmark {
	text-decoration: none;
	max-height: 8em;
	padding: 0;
	display: flex;
	width: 100%;
	align-items: stretch;
}

.bookmark-title {
	font-size: 0.85em;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1.75em;
	white-space: nowrap;
}

.bookmark-text {
	display: flex;
	flex-direction: column;
}

.bookmark-info {
	flex: 4 1 180px;
	padding: 12px 14px 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bookmark-image {
	width: 33%;
	flex: 1 1 180px;
	display: block;
	position: relative;
	object-fit: cover;
	border-radius: 1px;
}

.bookmark-description {
	color: rgba(55, 53, 47, 0.6);
	font-size: 0.75em;
	overflow: hidden;
	max-height: 4.5em;
	word-break: break-word;
}

.bookmark-href {
	font-size: 0.75em;
	margin-top: 0.25em;
}

.sans { font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }
.code { font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace; }
.serif { font-family: Lyon-Text, Georgia, ui-serif, serif; }
.mono { font-family: iawriter-mono, Nitti, Menlo, Courier, monospace; }
.pdf .sans { font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK JP'; }
.pdf:lang(zh-CN) .sans { font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC'; }
.pdf:lang(zh-TW) .sans { font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK TC'; }
.pdf:lang(ko-KR) .sans { font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK KR'; }
.pdf .code { font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK JP'; }
.pdf:lang(zh-CN) .code { font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC'; }
.pdf:lang(zh-TW) .code { font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK TC'; }
.pdf:lang(ko-KR) .code { font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK KR'; }
.pdf .serif { font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK JP'; }
.pdf:lang(zh-CN) .serif { font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK SC'; }
.pdf:lang(zh-TW) .serif { font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK TC'; }
.pdf:lang(ko-KR) .serif { font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK KR'; }
.pdf .mono { font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK JP'; }
.pdf:lang(zh-CN) .mono { font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC'; }
.pdf:lang(zh-TW) .mono { font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK TC'; }
.pdf:lang(ko-KR) .mono { font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK KR'; }
.highlight-default {
	color: rgba(50, 48, 44, 1);
}
.highlight-gray {
	color: rgba(115, 114, 110, 1);
	fill: rgba(115, 114, 110, 1);
}

/* Dark theme adjustments for highlights */
@media (prefers-color-scheme: dark) {
	.highlight-gray {
		color: rgba(155, 154, 150, 1);
		fill: rgba(155, 154, 150, 1);
	}
}
.highlight-brown {
	color: rgba(159, 107, 83, 1);
	fill: rgba(159, 107, 83, 1);
}
.highlight-orange {
	color: rgba(217, 115, 13, 1);
	fill: rgba(217, 115, 13, 1);
}
.highlight-yellow {
	color: rgba(203, 145, 47, 1);
	fill: rgba(203, 145, 47, 1);
}
.highlight-teal {
	color: rgba(68, 131, 97, 1);
	fill: rgba(68, 131, 97, 1);
}
.highlight-blue {
	color: rgba(51, 126, 169, 1);
	fill: rgba(51, 126, 169, 1);
}
.highlight-purple {
	color: rgba(144, 101, 176, 1);
	fill: rgba(144, 101, 176, 1);
}
.highlight-pink {
	color: rgba(193, 76, 138, 1);
	fill: rgba(193, 76, 138, 1);
}
.highlight-red {
	color: rgba(205, 60, 58, 1);
	fill: rgba(205, 60, 58, 1);
}
.highlight-default_background {
	color: rgba(50, 48, 44, 1);
}
.highlight-gray_background {
	background: rgba(248, 248, 247, 1);
}
.highlight-brown_background {
	background: rgba(244, 238, 238, 1);
}
.highlight-orange_background {
	background: rgba(251, 236, 221, 1);
}
.highlight-yellow_background {
	background: rgba(251, 243, 219, 1);
}
.highlight-teal_background {
	background: rgba(237, 243, 236, 1);
}
.highlight-blue_background {
	background: rgba(231, 243, 248, 1);
}
.highlight-purple_background {
	background: rgba(248, 243, 252, 1);
}
.highlight-pink_background {
	background: rgba(252, 241, 246, 1);
}
.highlight-red_background {
	background: rgba(253, 235, 236, 1);
}
.block-color-default {
	color: inherit;
	fill: inherit;
}
.block-color-gray {
	color: inherit;
	fill: inherit;
}
.block-color-brown {
	color: rgba(159, 107, 83, 1);
	fill: rgba(159, 107, 83, 1);
}
.block-color-orange {
	color: rgba(217, 115, 13, 1);
	fill: rgba(217, 115, 13, 1);
}
.block-color-yellow {
	color: rgba(203, 145, 47, 1);
	fill: rgba(203, 145, 47, 1);
}
.block-color-teal {
	color: rgba(68, 131, 97, 1);
	fill: rgba(68, 131, 97, 1);
}
.block-color-blue {
	color: rgba(51, 126, 169, 1);
	fill: rgba(51, 126, 169, 1);
}
.block-color-purple {
	color: rgba(144, 101, 176, 1);
	fill: rgba(144, 101, 176, 1);
}
.block-color-pink {
	color: rgba(193, 76, 138, 1);
	fill: rgba(193, 76, 138, 1);
}
.block-color-red {
	color: rgba(205, 60, 58, 1);
	fill: rgba(205, 60, 58, 1);
}
.block-color-default_background {
	color: inherit;
	fill: inherit;
}
.block-color-gray_background {
	background: rgba(128, 128, 128, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
.block-color-brown_background {
	background: rgba(244, 238, 238, 1);
}
.block-color-orange_background {
	background: rgba(251, 236, 221, 1);
}
.block-color-yellow_background {
	background: rgba(251, 243, 219, 1);
}
.block-color-teal_background {
	background: rgba(237, 243, 236, 1);
}
.block-color-blue_background {
	background: rgba(231, 243, 248, 1);
}
.block-color-purple_background {
	background: rgba(248, 243, 252, 1);
}
.block-color-pink_background {
	background: rgba(252, 241, 246, 1);
}
.block-color-red_background {
	background: rgba(253, 235, 236, 1);
}
.select-value-color-default { background-color: rgba(84, 72, 49, 0.08); }
.select-value-color-gray { background-color: rgba(84, 72, 49, 0.15); }
.select-value-color-brown { background-color: rgba(210, 162, 141, 0.35); }
.select-value-color-orange { background-color: rgba(224, 124, 57, 0.27); }
.select-value-color-yellow { background-color: rgba(236, 191, 66, 0.39); }
.select-value-color-green { background-color: rgba(123, 183, 129, 0.27); }
.select-value-color-blue { background-color: rgba(93, 165, 206, 0.27); }
.select-value-color-purple { background-color: rgba(168, 129, 197, 0.27); }
.select-value-color-pink { background-color: rgba(225, 136, 179, 0.27); }
.select-value-color-red { background-color: rgba(244, 171, 159, 0.4); }

.checkbox {
	display: inline-flex;
	vertical-align: text-bottom;
	width: 16;
	height: 16;
	background-size: 16px;
	margin-left: 2px;
	margin-right: 5px;
}

.checkbox-on {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
}

.checkbox-off {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E");
}
	
</style></head><body><article id="22d16bfa-04ee-80e5-9d63-f7e17e540909" class="page sans"><header><h1 class="page-title">Ertem Biyik</h1><p class="page-description"></p></header><div class="page-body"><h3 id="22d16bfa-04ee-813b-9dcf-e557d62b0c7b" class="">Software Engineer</h3><h2 id="22d16bfa-04ee-816b-b3c7-eb420f375b07" class=""><strong>Contact me</strong></h2><div id="22d16bfa-04ee-81c6-a652-f829fa3618a4" class="column-list"><div id="22d16bfa-04ee-8105-8776-ca7d35bff2f5" style="width:37.5%" class="column"><p id="22d16bfa-04ee-8182-a0b4-cf1004b10e01" class="block-color-gray"><strong>Email address</strong></p><p id="22d16bfa-04ee-8196-860f-f7c5272e62fe" class="block-color-gray">ertembiyik@gmail.com</p></div><div id="22d16bfa-04ee-81f3-a922-cb1b6f6e7912" style="width:33.33333333333333%" class="column"><p id="22d16bfa-04ee-815a-9753-e42043fa59b6" class="block-color-gray">Telegram</p><p id="22d16bfa-04ee-8165-9c09-ef53958b88d0" class="">t.me/gronzeisl</p></div><div id="22d16bfa-04ee-81cf-a285-cb152280de60" style="width:29.166666666666696%" class="column"><p id="22d16bfa-04ee-81a0-899f-fee2887b921c" class="block-color-gray">
</p></div></div><p id="22d16bfa-04ee-81fd-aee2-cee5555e3da2" class=""><mark class="highlight-gray"><strong>Follow me</strong></mark></p><div id="22d16bfa-04ee-8151-b02e-e7c0532f954c" class="column-list"><div id="23116bfa-04ee-8021-9f54-df52dceefb4b" style="width:33.33333333333333%" class="column"><figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="22d16bfa-04ee-810f-87b9-f265e9db9173"><div style="font-size:1.5em"><img class="icon" src="/X_icon.webp"/></div><div style="width:100%"><a href="https://x.com/ertembiyik">X</a></div></figure></div><div id="23116bfa-04ee-803b-9304-d6a4c4c50a34" style="width:33.33333333333333%" class="column"><figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="22d16bfa-04ee-816c-a7cf-d0a528ab70ba"><div style="font-size:1.5em"><img class="icon" src="/GitHub_icon.webp"/></div><div style="width:100%"><a href="https://github.com/ertembiyik">GitHub</a></div></figure></div><div id="22d16bfa-04ee-818d-9b59-dbae3f079b4a" style="width:33.33333333333333%" class="column"><figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="22d16bfa-04ee-81b8-bd92-d3eb87a90861"><div style="font-size:1.5em"><img class="icon" src="/LinkedIn_icon.webp"/></div><div style="width:100%"><a href="https://www.linkedin.com/in/ertembiyik/">LinkedIn</a></div></figure></div></div><hr id="22d16bfa-04ee-81c5-948c-f006e5c918d6"/><h2 id="22d16bfa-04ee-81f6-80fc-ddf5e8d350a5" class="">About me</h2><p id="22d16bfa-04ee-8089-a320-da774e4663d8" class="">Hi my name is Ertem! I&#x27;m a software engineer, whose main focus is creating<br/>stunning apps for Apple platforms. I value great design, which drives user<br/>attention, yet covering the needs, creativity in every part of the product and of course having fun along the way! I do a lot of side projects in my free time with my friends, mostly in consumer + AI space.<br/></p><hr id="22d16bfa-04ee-81db-8382-f1a48b74058f"/><h2 id="22d16bfa-04ee-8128-b58c-d1bb59f3b901" class="">Experience</h2><div id="23116bfa-04ee-8039-8797-c60b7bb0129e" class="column-list"><div id="23116bfa-04ee-802e-b42c-e6da5cacc0a0" style="width:25%" class="column"><p id="23116bfa-04ee-80b3-99d8-c11830ddd177" class=""><time>@October 31, 2024</time> </p><p id="23116bfa-04ee-8034-847a-e8bc3e48c138" class="block-color-gray"><mark class="highlight-gray">Now</mark></p><p id="23116bfa-04ee-8067-9b40-c1b1d9dcd7f1" class="">
</p></div><div id="23116bfa-04ee-8066-aeaf-ddab1fdd4350" style="width:75%" class="column"><h3 id="23116bfa-04ee-80d6-b8e7-c34f831ecffd" class="">Senior iOS Engineer at Infrastructure Team </h3><p id="23116bfa-04ee-80f8-9824-c8dd40c2f966" class=""><a href="http://vk.com">VK</a></p><ul id="23116bfa-04ee-8044-971a-f3a595599b7e" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Performance Optimization: analyzed app startup bottlenecks and implemented improvements, reducing app launch time by 8%, leading to a smoother user experience</mark></li></ul><ul id="23116bfa-04ee-8096-8157-e2c910708e7c" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">AI Integration: led the AI gitlab code review integration, created a cli coding agent to help testers write autotests</mark></li></ul><p id="23816bfa-04ee-80fb-94c0-e015243d4d70" class="">Skills:</p><p id="23816bfa-04ee-8027-875c-c82f07cabb85" class=""><mark class="highlight-gray">Swift, Obj-C, UIKit, ClickHouse, MetricKit, TypeScript, Ink JS, Vercel AI SDK, Docker</mark></p></div></div><div id="22d16bfa-04ee-816b-9273-daa6695ecd8a" class="column-list"><div id="22d16bfa-04ee-812b-8fd8-e4fcad9d562c" style="width:25%" class="column"><p id="22d16bfa-04ee-8162-8575-fc3ff22998f8" class=""><time>@June 1, 2024 → October 31, 2024</time> </p></div><div id="22d16bfa-04ee-81be-85c3-fab86339cafb" style="width:75%" class="column"><h3 id="22d16bfa-04ee-8158-8c37-f4a9c9eadb98" class="">iOS Engineer at Infrastructure Team </h3><p id="22d16bfa-04ee-814b-9609-f3de435c0f75" class=""><a href="http://vk.com">VK</a></p><ul id="22d16bfa-04ee-80cb-9e84-d968f4edd6da" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Design System: played a key role in developing and refining VK&#x27;s design system (VKUI)</mark></li></ul><ul id="23116bfa-04ee-80f1-a54e-d81e559cb802" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Optimized image filters to speed up main feed load times by switching from Accelerate to CoreImage and streamlining the render pipeline to a single pass</mark></li></ul><p id="22d16bfa-04ee-8047-9783-efd05a6c3c27" class="">Publications</p><ul id="22d16bfa-04ee-80fc-847b-d004dc9fd9b8" class="bulleted-list"><li style="list-style-type:disc"><a href="https://www.youtube.com/watch?v=WytO_dmqr7s">CoreImage Tech Talk</a></li></ul><p id="23816bfa-04ee-8074-86c3-d7508aaa73c2" class="">Skills:</p><p id="23816bfa-04ee-80bb-9bb9-f3ce33f1ed25" class=""><mark class="highlight-gray">Swift, Obj-C, UIKit, SwiftUI, TextKit, CoreGraphics, CoreAnimation, CoreImage, Metal, Accelerate, XCTest, MetricKit</mark></p></div></div><div id="22d16bfa-04ee-800b-85cb-de6c46186438" class="column-list"><div id="22d16bfa-04ee-8047-80e1-dc92cdc3f7e2" style="width:25%" class="column"><p id="22d16bfa-04ee-80c7-aca9-c6d6d373e3be" class=""><time>@September 30, 2023 → June 1, 2024</time> </p><p id="22d16bfa-04ee-8008-bdd2-d359d75cbdf5" class="">
</p></div><div id="22d16bfa-04ee-808f-9275-e5dd90f0db7b" style="width:75%" class="column"><h3 id="22d16bfa-04ee-809a-b487-ced5c47f5677" class="">iOS Engineer at SuperApp Team </h3><p id="22d16bfa-04ee-80bf-a0ec-f7184728fef7" class=""><a href="http://vk.com">VK</a></p><ul id="22d16bfa-04ee-8061-8189-e8fec5570be9" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Service&#x27;s showcase: rebuilt main navigation entry point for VK App users from the ground up, creating a complex interactive collection with multiple sections, custom layout logic, realtime SSE updates, custom collection view animations</mark></li></ul><ul id="23116bfa-04ee-8022-9879-ea506eae8ad4" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Service’s showcase settings: implemented widgets settings, so users can customize the showcase to their needs. Implemented custom drag-n-drop logic similar to springboard mechanic</mark></li></ul><ul id="22d16bfa-04ee-8059-b731-dee5e0437a40" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">TabBar customization: this feature allows users to setup their tabbar by selecting most used tabs. Led the development of the whole feature with the most ‘fun’ part of disassembling UIKit to find private API’s to allow more than 5 tabs on iOS devices </mark></li></ul><p id="22d16bfa-04ee-80b4-930d-c570e2149524" class="">Publications</p><ul id="22d16bfa-04ee-802d-a3e2-c0176f5bf6a8" class="bulleted-list"><li style="list-style-type:disc"><a href="https://m.vk.com/wall-35005_54964">Tab Bar settings release</a></li></ul><p id="23816bfa-04ee-803e-b51c-cd1e9e3ec52b" class="">Skills:</p><p id="23816bfa-04ee-80f2-93a8-fefc67eac8c3" class=""><mark class="highlight-gray">Swift, Obj-C, UIKit, CoreGraphics, CoreAnimation, Lottie, RLottie, Swift Structured Concurrency, GCD, HealthKit, Combine, Yoga</mark></p></div></div><div id="23116bfa-04ee-80d9-b1cb-fb60582b0872" class="column-list"><div id="23116bfa-04ee-8087-990e-fbc3ccbf3a19" style="width:25%" class="column"><p id="23116bfa-04ee-8080-b1c3-dc7b98902878" class=""><time>@August 8, 2022 → September 30, 2023</time> </p><p id="23116bfa-04ee-8099-94c9-d51e1d519f36" class="">
</p></div><div id="23116bfa-04ee-80ac-893a-de8431df1c8a" style="width:75%" class="column"><h3 id="23116bfa-04ee-8085-82e1-ef41cd2f8df0" class="">Junior iOS Engineer at SuperApp Team </h3><p id="23116bfa-04ee-8079-ab91-e6f2f5d2812b" class=""><a href="http://vk.com">VK</a></p><ul id="23116bfa-04ee-8094-ac79-cdcecf32cb0b" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">MiniApps platform: WebView based apps with an ability to call native code via JavaScriptCore message handlers</mark></li></ul><ul id="23116bfa-04ee-8096-b264-ed7d2f8e642e" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">MiniApps Catalog (MiniApps store)</mark></li></ul><ul id="23116bfa-04ee-8099-bb09-e2bafa4d3cfd" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">LiveActivities</mark></li></ul><ul id="23116bfa-04ee-80c3-a355-cebc486fd0a3" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Apple Watch app</mark></li></ul><ul id="23116bfa-04ee-8056-8f34-da74450f03fc" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">MiniApps ads system</mark></li></ul><p id="23116bfa-04ee-8060-aa33-db0afbc795d9" class="">Publications</p><ul id="23116bfa-04ee-80c0-99b8-fdb30f9bacf7" class="bulleted-list"><li style="list-style-type:disc"><a href="https://vk.com/watch">VK Apple Watch App release</a></li></ul><p id="23816bfa-04ee-807e-9311-f2bcc038da66" class="">Skills:</p><p id="23816bfa-04ee-80c7-94c1-f7017bdd6efe" class=""><mark class="highlight-gray">Swift, Obj-C, UIKit, CoreGraphics, CoreAnimation, GCD, HealthKit, Combine, ActivityKit, WidgetKit, WebKit, JavaScriptCore, WatchKit, CoreLocation</mark></p><p id="23116bfa-04ee-8093-acde-e732efbb1876" class="">
</p><hr id="22d16bfa-04ee-81ec-9420-c2261c06b49f"/></div></div><div id="22d16bfa-04ee-81b6-852d-f95283551a68" class="column-list"><div id="22d16bfa-04ee-81cd-855f-d7f61f19fa1f" style="width:25%" class="column"><p id="22d16bfa-04ee-81f7-9f3b-c7b9494a3b0a" class=""><time>@September 1, 2023 → January 30, 2024</time> </p></div><div id="22d16bfa-04ee-8143-a193-c97d19951688" style="width:75%" class="column"><h3 id="22d16bfa-04ee-81d4-9319-da994f69987f" class="">Lecturer</h3><p id="22d16bfa-04ee-8144-842f-c666dbdeb700" class=""><a href="https://en.itmo.ru/">ITMO University</a></p><ul id="22d16bfa-04ee-81a1-a7b8-ec5d7bdd338c" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Delivered lectures on iOS development, conducted live coding sessions, and evaluated student assignments</mark></li></ul><p id="22d16bfa-04ee-8037-830b-c14bf5118d5c" class="">Publications</p><ul id="22d16bfa-04ee-8094-9fa3-d661500a4d19" class="bulleted-list"><li style="list-style-type:disc"><a href="https://education.vk.company/program/237">Course announcement</a></li></ul><hr id="22d16bfa-04ee-810b-b388-e620756bf979"/></div></div><div id="22d16bfa-04ee-810c-8659-c78a7a0ae9de" class="column-list"><div id="22d16bfa-04ee-8162-a3f1-f8374dec7b29" style="width:25%" class="column"><p id="22d16bfa-04ee-81ca-b29d-edb3756a199f" class=""><time>@February 12, 2022 → August 1, 2022</time> </p></div><div id="22d16bfa-04ee-8166-87a3-df53c8faf7d4" style="width:75%" class="column"><h3 id="22d16bfa-04ee-81d4-8ff9-d0ace4266ba7" class="">Swift Engineer</h3><p id="22d16bfa-04ee-8171-9602-c147ad7d91ed" class=""><a href="https://sparrowcode.io">Sparrowcode</a></p><ul id="22d16bfa-04ee-81c9-bdbc-e4fac49ea5da" class="highlight-gray bulleted-list"><li style="list-style-type:disc">Led the creation of a comprehensive Ethereum library in Swift</li></ul><ul id="22d16bfa-04ee-8094-91f6-cee6004e286a" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">RLP encoding/decoding, value converters, key utilities, and support for smart contracts</mark></li></ul><p id="22d16bfa-04ee-801c-9710-fadf90d5578b" class="">Publications</p><ul id="22d16bfa-04ee-801b-8629-fd59f2dd782b" class="bulleted-list"><li style="list-style-type:disc"><a href="https://github.com/sparrowcode/swift-ethereum">GitHub</a></li></ul><p id="23816bfa-04ee-80e6-9f3b-fd864bd6db23" class="">Skills:</p><p id="23816bfa-04ee-809b-8c6c-e90481caa2e0" class=""><mark class="highlight-gray">Swift, CryptoKit, XCTest, Swift Structured Concurrency, GCD</mark></p></div></div><hr id="22d16bfa-04ee-81b3-b072-eada1b9816ff"/><div id="22d16bfa-04ee-8006-99e2-d20137c92750" class="column-list"><div id="22d16bfa-04ee-80a1-9f6b-e520b7054e07" style="width:25%" class="column"><p id="22d16bfa-04ee-80b9-8c37-cd9d00c9415b" class=""><time>@February 12, 2022 → August 1, 2022</time> </p><p id="22d16bfa-04ee-80c1-8ced-f42ed4ce1650" class="">
</p></div><div id="22d16bfa-04ee-80de-b64f-cf66e69d286d" style="width:75%" class="column"><h3 id="22d16bfa-04ee-80fd-ba45-c11cda2e7597" class="">iOS Developer</h3><p id="22d16bfa-04ee-809b-ac35-e14c9af3ad1b" class=""><a href="https://kulturarecordstore.ru/">Kultura Records Store</a></p><ul id="22d16bfa-04ee-805c-8882-f7e5be24bc1e" class="block-color-gray bulleted-list"><li style="list-style-type:disc">Developed an app enabling users to scan item barcodes to preview vinyl/cassette content, reducing employee workload by 1-3 hours daily</li></ul><p id="22d16bfa-04ee-80e2-9d2d-f54d17df2164" class="">Publications</p><ul id="22d16bfa-04ee-80ca-bb43-f66bb0bc4587" class="bulleted-list"><li style="list-style-type:disc"><a href="https://apps.apple.com/us/app/kultura/id1591618437">AppStore</a></li></ul><p id="23816bfa-04ee-8008-adf6-f715c3434fbe" class="">Skills:</p><p id="23816bfa-04ee-80b8-8ba3-c1cad381969d" class=""><mark class="highlight-gray">Swift, UIKit, SwiftUI, TCA, Combine, Swift Structured Concurrency, swift-dependancies, AVFoundation, CoreData</mark></p></div></div><h2 id="22d16bfa-04ee-806e-906d-de266651fa35" class="">Side Projects</h2><div id="22d16bfa-04ee-800b-82dd-c631944c2adc" class="column-list"><div id="22d16bfa-04ee-808a-830f-d4999d2e3f6c" style="width:25%" class="column"><p id="22d16bfa-04ee-8080-a7f9-dcc0aa2fda32" class=""><time>@March 1, 2025</time> </p><p id="22d16bfa-04ee-8021-870d-d13ca388fff4" class=""><mark class="highlight-gray">Now</mark></p><p id="22d16bfa-04ee-8038-882c-dc9cb37d3b0d" class="">
</p></div><div id="22d16bfa-04ee-8083-bc79-f200c66a68e5" style="width:75%" class="column"><h3 id="22d16bfa-04ee-800a-b058-fbb13f08c1bb" class="">Bluerage Software</h3><p id="22d16bfa-04ee-8021-9086-decb9e49a05d" class="">Me &amp; <a href="https://www.linkedin.com/in/iamnalimov/">Ilia</a></p><ul id="22d16bfa-04ee-80ed-a783-fe21d1bdafd8" class="bulleted-list"><li style="list-style-type:disc">We started as a platform for creating MiniApps using prompts from your phone end to end. Since software creation became cheap, users that were prior not able to express their ideas now could instantly create and share them</li></ul><ul id="22d16bfa-04ee-8097-9404-d0737b1adc5d" class="bulleted-list"><li style="list-style-type:disc">We were in close connection with <a href="https://www.zfellows.com/">zfellows</a> while working on this idea</li></ul><ul id="22d16bfa-04ee-803b-9785-eacbdefed622" class="bulleted-list"><li style="list-style-type:disc">We then decided to pivot from an iOS app to a Telegram bot and target an already existing Telegram MiniApps platform</li></ul><p id="22d16bfa-04ee-80d8-9342-c5c97f26363b" class="">Publications</p><ul id="22d16bfa-04ee-8055-90fc-c2d74d0e96e2" class="bulleted-list"><li style="list-style-type:disc"><a href="https://x.com/blueragehq">X</a></li></ul><ul id="22d16bfa-04ee-8058-bd31-d3173e0b8d36" class="bulleted-list"><li style="list-style-type:disc"><a href="https://bluerage.software/">Site</a></li></ul><p id="23816bfa-04ee-80f9-9f12-f12d8c25a676" class="">Skills:</p><p id="23816bfa-04ee-80dc-831e-f428b4dab3ca" class=""><mark class="highlight-gray">Swift, UIKit, SwiftUI, Factory, Rive, WebKit, Supabase, swift-openapi, Nuke, PinLayout, Observation</mark>, <mark class="highlight-gray">mlx-swift</mark>,<mark class="highlight-gray"> Fly, Sentry, PostHog, Railway, Axiom, Cloudflare, Next JS, Vercel AI SDK, Hono</mark></p></div></div><div id="22d16bfa-04ee-8095-85d4-d6fffaeebd80" class="column-list"><div id="22d16bfa-04ee-8034-90c9-c0a5ae63f0d1" style="width:25%" class="column"><p id="22d16bfa-04ee-8014-b1e2-cda6cf6a48ed" class=""><time>@April 1, 2024 → October 30, 2024</time> </p><p id="22d16bfa-04ee-807f-a2cc-dbc1ae5e7404" class="">
</p></div><div id="22d16bfa-04ee-8025-9a8c-e9e7f083eb2f" style="width:75%" class="column"><h3 id="22d16bfa-04ee-8095-86a4-ed5844b32e66" class="">Haptics</h3><p id="22d16bfa-04ee-809e-bc0d-e95e2e7aceca" class="">Me &amp; <a href="https://www.linkedin.com/in/iamnalimov/">Ilia</a></p><ul id="22d16bfa-04ee-80c1-8c1e-dc32b28d76f8" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">I developed and shipped Haptics, an iOS application that enables real-time communication between users through touch, drawings, and interactive feedback. The app was featured by the Spotted in Prod Twitter account and gained significant interest in design community.</mark></li></ul><ul id="22d16bfa-04ee-801c-9124-e292c1539fa3" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Technical: custom highly optimised CoreAnimation drawing engine, Metal based visual effects, SpriteKit scenes, single source of truth mvvm based architecture.</mark></li></ul><p id="22d16bfa-04ee-803d-bf65-dc85a6009aa9" class="">Publications</p><ul id="22d16bfa-04ee-80ab-9396-c1e358dd636e" class="bulleted-list"><li style="list-style-type:disc"><a href="https://apps.apple.com/us/app/haptics-send-love-to-friends/id6503260004">AppStore</a></li></ul><ul id="22d16bfa-04ee-80ee-bed7-e1723eca607c" class="bulleted-list"><li style="list-style-type:disc"><a href="https://x.com/spottedinprod/status/1847377048417030216">Spotted in Prod</a></li></ul><p id="23816bfa-04ee-8006-b69a-e9277a870226" class="">Skills:</p><p id="23816bfa-04ee-80aa-bcf8-ce4853301e3b" class=""><mark class="highlight-gray">Swift, UIKit, SwiftUI, swift-dependancies, Nuke, Firebase, Metal, CoreAnimation, CoreGraphics, SpriteKit, PinLayout, Yoga, WidgetKit, AppIntents, StoreKit, Combine, Swift Structured Concurrency, GCD</mark></p></div></div><div id="22d16bfa-04ee-80c2-8af3-c3f579b33715" class="column-list"><div id="22d16bfa-04ee-80eb-90d8-d129419f1682" style="width:25%" class="column"><p id="22d16bfa-04ee-80e3-8806-e877a6436657" class=""><time>@October 1, 2023 → November 30, 2024</time> </p><p id="22d16bfa-04ee-807b-87ce-fdf14ddc888b" class="">
</p></div><div id="22d16bfa-04ee-8088-8d02-ee3101f194f0" style="width:75%" class="column"><h3 id="22d16bfa-04ee-8036-8c38-eb7071d15f32" class="">Reality</h3><p id="22d16bfa-04ee-80c1-9f8b-d741742697e4" class="">Me &amp; <a href="https://www.linkedin.com/in/iamnalimov/">Ilia</a></p><ul id="22d16bfa-04ee-8000-aac5-fc8a42365c5a" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">I developed and shipped Reality, an AR iOS application that enables users to place digital assets in real-world locations and discover content left by others. The app creates a persistent digital layer over the physical world through advanced geospatial AR technology</mark></li></ul><ul id="22d16bfa-04ee-803a-9df3-f76c398e9bca" class="bulleted-list"><li style="list-style-type:disc"><mark class="highlight-gray">Technical: ARKit + Google ARCore Geospatial API integration, RealityKit entity management system, GeoHash-based spatial querying with Firebase Firestore, VPS (Visual Positioning System) for precise world anchoring</mark></li></ul><p id="22d16bfa-04ee-805a-8e38-e9ee87803014" class="">Publications</p><ul id="22d16bfa-04ee-80af-94a2-ffd01983813b" class="bulleted-list"><li style="list-style-type:disc"><a href="https://apps.apple.com/us/app/reality-build-your-world/id6474273304">AppStore</a></li></ul><p id="23916bfa-04ee-80d3-85e0-d0e86f387fc5" class="">Skills:</p><p id="23916bfa-04ee-807a-bf1e-e8f13d40e134" class=""><mark class="highlight-gray">Swift, UIKit, swift-dependancies, Nuke, Firebase, ARKit, RealityKit, CoreAnimation, CoreGraphics, PinLayout, Yoga, Combine, Swift Structured Concurrency, GCD, CoreLocation, AVFoundation, ARCore, MapKit, </mark></p><p id="22d16bfa-04ee-8032-8c19-e378caafaad5" class="">
</p></div></div><p id="23816bfa-04ee-803a-9384-fa8bde31e320" class="">
</p><p id="23116bfa-04ee-80f6-a458-efd435e8222d" class="">
</p><p id="22d16bfa-04ee-80c5-a1a7-e171e9a1535c" class="">
</p><p id="22d16bfa-04ee-8086-b297-f887e0aa06fd" class="">
</p><p id="22d16bfa-04ee-806a-b7da-f3f78bb5077e" class="">
</p><p id="22d16bfa-04ee-80f8-942f-fae4aefc4f16" class="">
</p></div></article><span class="sans" style="font-size:14px;padding-top:2em"></span></body></html>