---
import { render, type CollectionEntry } from 'astro:content';
import { marked } from 'marked';

interface Props {
    entry: CollectionEntry<'sideProjects'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);

// Parse markdown links using marked
const parsedPeople = entry.data.people ? marked.parseInline(entry.data.people) : '';
---

<li class="py-0.5">
    <div class="flex gap-5">
        <div class="relative min-w-28 shrink-0">
            <span class="text-muted-foreground text-sm">
                {entry.data.from} - {entry.data.to}
            </span>
        </div>
        <div class="flex flex-col gap-3">
            <div class="flex flex-col">
                <span class="text-headings font-medium">{entry.data.name}</span>
                <span class="prose dark:prose-invert prose-sm" set:html={parsedPeople}></span>
            </div>
            <div class="prose dark:prose-invert prose-sm">
                <Content />
            </div>
        </div>
    </div>
</li>
